@import "./variables.css";

* {
  font-family: var(--primary-font);
}

.product-card {
  display: inline-grid;
  padding: .5rem;

  border-radius: 12px;
  transition: box-shadow .2s ease-in-out;
  overflow: hidden;
  min-width: 170px;
  max-width: 250px;
}

.product-card:hover {
  z-index: 1;
  box-shadow: var(--shadow-card-2-active);
}

.product-card__img {

  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  max-width: 225px;
  position: relative;
}

.product-card__img>img {
  width: 100%;
  height: auto;


}

.product-card__img--overlay {
  background-color: black;
  opacity: .03;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-card__button {
  align-self: center;
  justify-self: center;
  padding: .5rem;
  width: 80%;
}

.button-add {
  border: 1px solid var(--egg-white-15);
  background: none;
  border-radius: 100px;
  width: 100%;
  padding: 5px;
}

.button-add:hover {
  background: var(--egg-red-10-op);
}

.product-card__definition {
  color: var(--smoked-70);
  font-size: .75rem;
}

.product-card__price {
  display: flex;
  gap: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: baseline;
}

.product-price__unit {
  font-size: 1.25rem;
  font-weight: 700;
}

.product-price__extra {
  color: var(--smoked-70);
}

/* https://stackoverflow.com/questions/54907270/how-to-specify
-the-maximum-number-of-columns-repeat-will-create-using-auto-fit*/

.super-grid {
  --repeat: auto-fit;
}

@media (min-width: calc(200px * 5)) {
  .super-grid {
    --repeat: 5;
  }
}

.super-grid {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, 200px);*/
  grid-template-columns: repeat(var(--repeat, auto-fit), minmax(calc(180px * 1) , 250px));
  grid-gap: .5rem;
  justify-content: center;


}
