.product-card {
  display: inline-grid;
  grid-template-rows: repeat(3);

  padding:.5rem;
  border: 1px solid black;

}

.product-card__img {
  margin-bottom: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  max-height: 192px;
}

.product-card__img > img{


  position: relative;
  height:100%;
}

.product-card__price {
  display: flex;
  gap: 3px;
}

.product-card__button {
  align-self: center;
  justify-self: center;
  padding: .5rem;
}
